<span style="font-size:2em; color:#1C4E80">
Tutorial on pandas
</span>

#### What is "pandas"?
    Pandas is a python based programming package for data analysis.

 
#### Why use pandas?
    * One of the easier ways to manipulate data and make inferences from data.
    * Wide support

#### Where to get pandas?
    pip install pandas

### Learn by working on a dataset

Use pandas in your code by importing the package first.

In [28]:
import pandas as pd

Get the data from a link and assign it to a variable called data.

We will use a comma separated values (csv) file for now. 

Pandas has in-built functions to read these files "pandas.read_csv()"

In [29]:
data = pd.read_csv('https://raw.githubusercontent.com/arib168/data/main/Iris.csv?raw=True')

What does the data contain?
    
    To see the first 'n' entries and last 'n' entries, we can use head and tail functions

In [30]:
data.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [31]:
data.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [33]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

Data is a table that contains a certain number of rows and columns. This table is called as "DATAFRAME".

    How many rows are there? 
    How many columns are there?

In [34]:
print(f'Number of rows(samples): {data.shape[0]}')
print(f'Number of columns(features/attributes): {data.shape[1]}')

Number of rows(samples): 150
Number of columns(features/attributes): 6

How to get the column names? What are its data types?

How to get the row indices?

In [35]:
print(f'Column names: \t {data.columns} \n')
print(f'Column data types: \t {data.dtypes} \n')
print(f'Row indices: \t {data.index}')

Column names: 	 Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

Column data types: 	 Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

Row indices: 	 RangeIndex(start=0, stop=150, step=1)

### Accessing elements in data frame
    How to get the ith row?
    
    How to get ith column?

In [36]:
i = 3
data.loc[i]

#for getting multiple rows
n_rows = [1, 3, 5]
data.loc[n_rows]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   2            4.9           3.0            1.4           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [37]:
# print(data.iloc[[0, 1, 2]])
# print(data.loc[[0, 1, 2]])

##### Get the column named "Species". This will create an array - pandas series

In [38]:
data['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [39]:
data[['Species', 'SepalWidthCm']].loc[0:5]

       Species  SepalWidthCm
0  Iris-setosa           3.5
1  Iris-setosa           3.0
2  Iris-setosa           3.2
3  Iris-setosa           3.1
4  Iris-setosa           3.6
5  Iris-setosa           3.9

In [40]:
data[data.Species == 'Iris-setosa'].head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [41]:
data.loc[data['SepalLengthCm'] > 5, ['SepalWidthCm', 'PetalWidthCm']].head(3)

    SepalWidthCm  PetalWidthCm
0            3.5           0.2
5            3.9           0.4
10           3.7           0.2

#### Are there any missing values in the data?

In [42]:
data.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [43]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

There are no missing values

In [44]:
data.dropna(inplace=True) #axis = 0 for dropping rows and axis = 1 for dropping columns
data.shape

(150, 6)

Are there any duplicates?

In [45]:
data[data.duplicated()]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

If there are duplicates, how to drop them?

In [46]:
data.drop_duplicates().head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

#### How to add and delete rows in existing dataframe?

In [47]:
data.loc[len(data.index)+1] = [len(data.index)+1, 5, 3.6, 1.4, 0.2, 'Iris-setosa']
data.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica
151,151,5.0,3.6,1.4,0.2,Iris-setosa

In [48]:
new_row1 = {'Id': len(data.index) + 1, 'SepalLengthCm': 4.6, 'SepalWidthCm': 3.1, 'PetalLengthCm': 1.5, 'PetalWidthCm': 0.2, 'Species': 'Iris-setosa'}
data = data.append(new_row1, ignore_index=True)
data.tail(3)

C:\Users\parva\AppData\Local\Temp\ipykernel_19192\483940856.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_row1, ignore_index=True)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
149,150,5.9,3.0,5.1,1.8,Iris-virginica
150,151,5.0,3.6,1.4,0.2,Iris-setosa
151,152,4.6,3.1,1.5,0.2,Iris-setosa

In [49]:
data = pd.concat([data, pd.DataFrame([new_row1])], ignore_index = True) #dictionary needs to be converted to dataframe first for concat
data.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
150,151,5.0,3.6,1.4,0.2,Iris-setosa
151,152,4.6,3.1,1.5,0.2,Iris-setosa
152,152,4.6,3.1,1.5,0.2,Iris-setosa

In [50]:
data = data.drop([data.index[-1], data.index[-2]])
data.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica
150,151,5.0,3.6,1.4,0.2,Iris-setosa

How to add and delete columns in dataframe?

In [51]:
#Insert as last column
import numpy as np
data.insert(len(data.columns), "Test_column1", np.zeros((data.shape[0])))
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Test_column1
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.0

In [52]:
data = data.assign(Test_column2 = np.zeros((data.shape[0])))
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Test_column1,Test_column2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.0,0.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.0,0.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.0,0.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.0,0.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.0,0.0

In [53]:
data.drop(["Test_column1", "Test_column2"], axis = 1, inplace = True)
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

#### Renaming columns

In [54]:
data.rename(columns = {'Species': 'species'}, inplace = True)
data.head()
data.rename(columns = {'species': 'Species'}, inplace = True)

#### Iterating over rows and columns

In [59]:
for i, j in data.iterrows():
    print(i,j)

0 Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object
1 Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object
2 Id                         3
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object
3 Id                         4
SepalLengthCm            4.6
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 3, dtype: object
4 Id                         5
SepalLengthCm            5.0
SepalWidthCm             3.6
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 4, dtype: object
5 Id                         6
SepalLengthCm            5.4
SepalWidthCm             3.9
PetalLengthCm            1.7
PetalWidthCm             0.4
Species          Iris-setosa
Name: 5, dtype: object
6 Id                         7
SepalLengthCm            4.6
SepalWidthCm             3.4
PetalLengthCm            1.4
PetalWidthCm             0.3
Species          Iris-setosa
Name: 6, dtype: object
7 Id                         8
SepalLengthCm            5.0
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 7, dtype: object
8 Id                         9
SepalLengthCm            4.4
SepalWidthCm             2.9
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 8, dtype: object
9 Id                        10
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 9, dtype: object
10 Id                        11
SepalLengthCm            5.4
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 10, dtype: object
11 Id                        12
SepalLengthCm            4.8
SepalWidthCm             3.4
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 11, dtype: object
12 Id                        13
SepalLengthCm            4.8
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.1
Species          Iris-setosa
Name: 12, dtype: object
13 Id                        14
SepalLengthCm            4.3
SepalWidthCm             3.0
PetalLengthCm            1.1
PetalWidthCm             0.1
Species          Iris-setosa
Name: 13, dtype: object
14 Id                        15
SepalLengthCm            5.8
SepalWidthCm             4.0
PetalLengthCm            1.2
PetalWidthCm             0.2
Species          Iris-setosa
Name: 14, dtype: object
15 Id                        16
SepalLengthCm            5.7
SepalWidthCm             4.4
PetalLengthCm            1.5
PetalWidthCm             0.4
Species          Iris-setosa
Name: 15, dtype: object
16 Id                        17
SepalLengthCm            5.4
SepalWidthCm             3.9
PetalLengthCm            1.3
PetalWidthCm             0.4
Species          Iris-setosa
Name: 16, dtype: object
17 Id                        18
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.3
Species          Iris-setosa
Name: 17, dtype: object
18 Id                        19
SepalLengthCm            5.7
SepalWidthCm             3.8
PetalLengthCm            1.7
PetalWidthCm             0.3
Species          Iris-setosa
Name: 18, dtype: object
19 Id                        20
SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.5
PetalWidthCm             0.3
Species          Iris-setosa
Name: 19, dtype: object
20 Id                        21
SepalLengthCm            5.4
SepalWidthCm             3.4
PetalLengthCm            1.7
PetalWidthCm             0.2
Species          Iris-setosa
Name: 20, dtype: object
21 Id                        22
SepalLengthCm            5.1
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.4
Species          Iris-setosa
Name: 21, dtype: object
22 Id                        23
SepalLengthCm            4.6
SepalWidthCm             3.6
PetalLengthCm            1.0
PetalWidthCm             0.2
Species          Iris-setosa
Name: 22, dtype: object
23 Id                        24
SepalLengthCm            5.1
SepalWidthCm             3.3
PetalLengthCm            1.7
PetalWidthCm             0.5
Species          Iris-setosa
Name: 23, dtype: object
24 Id                        25
SepalLengthCm            4.8
SepalWidthCm             3.4
PetalLengthCm            1.9
PetalWidthCm             0.2
Species          Iris-setosa
Name: 24, dtype: object
25 Id                        26
SepalLengthCm            5.0
SepalWidthCm             3.0
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 25, dtype: object
26 Id                        27
SepalLengthCm            5.0
SepalWidthCm             3.4
PetalLengthCm            1.6
PetalWidthCm             0.4
Species          Iris-setosa
Name: 26, dtype: object
27 Id                        28
SepalLengthCm            5.2
SepalWidthCm             3.5
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 27, dtype: object
28 Id                        29
SepalLengthCm            5.2
SepalWidthCm             3.4
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 28, dtype: object
29 Id                        30
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 29, dtype: object
30 Id                        31
SepalLengthCm            4.8
SepalWidthCm             3.1
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 30, dtype: object
31 Id                        32
SepalLengthCm            5.4
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.4
Species          Iris-setosa
Name: 31, dtype: object
32 Id                        33
SepalLengthCm            5.2
SepalWidthCm             4.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 32, dtype: object
33 Id                        34
SepalLengthCm            5.5
SepalWidthCm             4.2
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 33, dtype: object
34 Id                        35
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 34, dtype: object
35 Id                        36
SepalLengthCm            5.0
SepalWidthCm             3.2
PetalLengthCm            1.2
PetalWidthCm             0.2
Species          Iris-setosa
Name: 35, dtype: object
36 Id                        37
SepalLengthCm            5.5
SepalWidthCm             3.5
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 36, dtype: object
37 Id                        38
SepalLengthCm            4.9
SepalWidthCm             3.1
PetalLengthCm            1.5
PetalWidthCm             0.1
Species          Iris-setosa
Name: 37, dtype: object
38 Id                        39
SepalLengthCm            4.4
SepalWidthCm             3.0
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 38, dtype: object
39 Id                        40
SepalLengthCm            5.1
SepalWidthCm             3.4
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 39, dtype: object
40 Id                        41
SepalLengthCm            5.0
SepalWidthCm             3.5
PetalLengthCm            1.3
PetalWidthCm             0.3
Species          Iris-setosa
Name: 40, dtype: object
41 Id                        42
SepalLengthCm            4.5
SepalWidthCm             2.3
PetalLengthCm            1.3
PetalWidthCm             0.3
Species          Iris-setosa
Name: 41, dtype: object
42 Id                        43
SepalLengthCm            4.4
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 42, dtype: object
43 Id                        44
SepalLengthCm            5.0
SepalWidthCm             3.5
PetalLengthCm            1.6
PetalWidthCm             0.6
Species          Iris-setosa
Name: 43, dtype: object
44 Id                        45
SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.9
PetalWidthCm             0.4
Species          Iris-setosa
Name: 44, dtype: object
45 Id                        46
SepalLengthCm            4.8
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.3
Species          Iris-setosa
Name: 45, dtype: object
46 Id                        47
SepalLengthCm            5.1
SepalWidthCm             3.8
PetalLengthCm            1.6
PetalWidthCm             0.2
Species          Iris-setosa
Name: 46, dtype: object
47 Id                        48
SepalLengthCm            4.6
SepalWidthCm             3.2
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 47, dtype: object
48 Id                        49
SepalLengthCm            5.3
SepalWidthCm             3.7
PetalLengthCm            1.5
PetalWidthCm             0.2
Species          Iris-setosa
Name: 48, dtype: object
49 Id                        50
SepalLengthCm            5.0
SepalWidthCm             3.3
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 49, dtype: object
50 Id                            51
SepalLengthCm                7.0
SepalWidthCm                 3.2
PetalLengthCm                4.7
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 50, dtype: object
51 Id                            52
SepalLengthCm                6.4
SepalWidthCm                 3.2
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 51, dtype: object
52 Id                            53
SepalLengthCm                6.9
SepalWidthCm                 3.1
PetalLengthCm                4.9
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 52, dtype: object
53 Id                            54
SepalLengthCm                5.5
SepalWidthCm                 2.3
PetalLengthCm                4.0
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 53, dtype: object
54 Id                            55
SepalLengthCm                6.5
SepalWidthCm                 2.8
PetalLengthCm                4.6
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 54, dtype: object
55 Id                            56
SepalLengthCm                5.7
SepalWidthCm                 2.8
PetalLengthCm                4.5
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 55, dtype: object
56 Id                            57
SepalLengthCm                6.3
SepalWidthCm                 3.3
PetalLengthCm                4.7
PetalWidthCm                 1.6
Species          Iris-versicolor
Name: 56, dtype: object
57 Id                            58
SepalLengthCm                4.9
SepalWidthCm                 2.4
PetalLengthCm                3.3
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 57, dtype: object
58 Id                            59
SepalLengthCm                6.6
SepalWidthCm                 2.9
PetalLengthCm                4.6
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 58, dtype: object
59 Id                            60
SepalLengthCm                5.2
SepalWidthCm                 2.7
PetalLengthCm                3.9
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 59, dtype: object
60 Id                            61
SepalLengthCm                5.0
SepalWidthCm                 2.0
PetalLengthCm                3.5
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 60, dtype: object
61 Id                            62
SepalLengthCm                5.9
SepalWidthCm                 3.0
PetalLengthCm                4.2
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 61, dtype: object
62 Id                            63
SepalLengthCm                6.0
SepalWidthCm                 2.2
PetalLengthCm                4.0
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 62, dtype: object
63 Id                            64
SepalLengthCm                6.1
SepalWidthCm                 2.9
PetalLengthCm                4.7
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 63, dtype: object
64 Id                            65
SepalLengthCm                5.6
SepalWidthCm                 2.9
PetalLengthCm                3.6
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 64, dtype: object
65 Id                            66
SepalLengthCm                6.7
SepalWidthCm                 3.1
PetalLengthCm                4.4
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 65, dtype: object
66 Id                            67
SepalLengthCm                5.6
SepalWidthCm                 3.0
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 66, dtype: object
67 Id                            68
SepalLengthCm                5.8
SepalWidthCm                 2.7
PetalLengthCm                4.1
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 67, dtype: object
68 Id                            69
SepalLengthCm                6.2
SepalWidthCm                 2.2
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 68, dtype: object
69 Id                            70
SepalLengthCm                5.6
SepalWidthCm                 2.5
PetalLengthCm                3.9
PetalWidthCm                 1.1
Species          Iris-versicolor
Name: 69, dtype: object
70 Id                            71
SepalLengthCm                5.9
SepalWidthCm                 3.2
PetalLengthCm                4.8
PetalWidthCm                 1.8
Species          Iris-versicolor
Name: 70, dtype: object
71 Id                            72
SepalLengthCm                6.1
SepalWidthCm                 2.8
PetalLengthCm                4.0
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 71, dtype: object
72 Id                            73
SepalLengthCm                6.3
SepalWidthCm                 2.5
PetalLengthCm                4.9
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 72, dtype: object
73 Id                            74
SepalLengthCm                6.1
SepalWidthCm                 2.8
PetalLengthCm                4.7
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 73, dtype: object
74 Id                            75
SepalLengthCm                6.4
SepalWidthCm                 2.9
PetalLengthCm                4.3
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 74, dtype: object
75 Id                            76
SepalLengthCm                6.6
SepalWidthCm                 3.0
PetalLengthCm                4.4
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 75, dtype: object
76 Id                            77
SepalLengthCm                6.8
SepalWidthCm                 2.8
PetalLengthCm                4.8
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 76, dtype: object
77 Id                            78
SepalLengthCm                6.7
SepalWidthCm                 3.0
PetalLengthCm                5.0
PetalWidthCm                 1.7
Species          Iris-versicolor
Name: 77, dtype: object
78 Id                            79
SepalLengthCm                6.0
SepalWidthCm                 2.9
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 78, dtype: object
79 Id                            80
SepalLengthCm                5.7
SepalWidthCm                 2.6
PetalLengthCm                3.5
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 79, dtype: object
80 Id                            81
SepalLengthCm                5.5
SepalWidthCm                 2.4
PetalLengthCm                3.8
PetalWidthCm                 1.1
Species          Iris-versicolor
Name: 80, dtype: object
81 Id                            82
SepalLengthCm                5.5
SepalWidthCm                 2.4
PetalLengthCm                3.7
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 81, dtype: object
82 Id                            83
SepalLengthCm                5.8
SepalWidthCm                 2.7
PetalLengthCm                3.9
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 82, dtype: object
83 Id                            84
SepalLengthCm                6.0
SepalWidthCm                 2.7
PetalLengthCm                5.1
PetalWidthCm                 1.6
Species          Iris-versicolor
Name: 83, dtype: object
84 Id                            85
SepalLengthCm                5.4
SepalWidthCm                 3.0
PetalLengthCm                4.5
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 84, dtype: object
85 Id                            86
SepalLengthCm                6.0
SepalWidthCm                 3.4
PetalLengthCm                4.5
PetalWidthCm                 1.6
Species          Iris-versicolor
Name: 85, dtype: object
86 Id                            87
SepalLengthCm                6.7
SepalWidthCm                 3.1
PetalLengthCm                4.7
PetalWidthCm                 1.5
Species          Iris-versicolor
Name: 86, dtype: object
87 Id                            88
SepalLengthCm                6.3
SepalWidthCm                 2.3
PetalLengthCm                4.4
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 87, dtype: object
88 Id                            89
SepalLengthCm                5.6
SepalWidthCm                 3.0
PetalLengthCm                4.1
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 88, dtype: object
89 Id                            90
SepalLengthCm                5.5
SepalWidthCm                 2.5
PetalLengthCm                4.0
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 89, dtype: object
90 Id                            91
SepalLengthCm                5.5
SepalWidthCm                 2.6
PetalLengthCm                4.4
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 90, dtype: object
91 Id                            92
SepalLengthCm                6.1
SepalWidthCm                 3.0
PetalLengthCm                4.6
PetalWidthCm                 1.4
Species          Iris-versicolor
Name: 91, dtype: object
92 Id                            93
SepalLengthCm                5.8
SepalWidthCm                 2.6
PetalLengthCm                4.0
PetalWidthCm                 1.2
Species          Iris-versicolor
Name: 92, dtype: object
93 Id                            94
SepalLengthCm                5.0
SepalWidthCm                 2.3
PetalLengthCm                3.3
PetalWidthCm                 1.0
Species          Iris-versicolor
Name: 93, dtype: object
94 Id                            95
SepalLengthCm                5.6

In [60]:
for i in data.columns:
    print(i)

Id
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species